* {
    box-sizing: border-box;
}
body {
    padding-left: 15px;
}

div {
    margin: 18px auto;
}
a > button {
    padding-top: 6px;
}
img {
    width: 700px;
    height: 500px;
}
.error {
    color: #f00;
}
.highlight {
    background-color: #ff0;
    padding: 12px 16px;
}